@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-slate-800 antialiased selection:bg-emerald-50 selection:text-emerald-700;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  }
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
